@import 'src/styles/colors.scss';
@import 'src/styles/layout.scss';

.hero {
  // position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  // align-items: center;

  width: 100vw;
  // min-height: 100vh;
  min-height: 50rem;
  // padding: 2.5rem;
  // margin: 6vw 0;
  // margin: auto;
  // padding: 0 8vw;

  word-wrap: break-word;
}

.hero h1, .hero p, .hero a {
  margin: 0 2rem;
}

.hero h1 {
  margin-bottom: 2rem;
}

.hero p {
  margin-bottom: 2.8rem;

  font-size: 1.2rem;
  line-height: 2rem;
}

.smallHeroText {
  font-size: 1.1rem;
  color: $subTextColor;
}

.bigHeroText {
  font-size: 3rem;
  // color: $mainHeaderColor;
}

.subText {
  font-size: 2rem;
  color: $mainTextColor;
}

.emphasize {
  border-radius: 1em 0 1em 0;
  background-image: linear-gradient(
    -100deg,
    rgba(0, 255, 20, 0.2),
    rgba(0, 255, 21, 0.487) 95%,
    rgba(0, 255, 21, 0.056)
  );
}

// .emphasize::before {
//   background-color: $buttonActiveColor;

//   content: "";
//   position: absolute;
//   width: calc(100% + 4px);
//   height: 60%;
//   left: -2px;
//   bottom: 0;
//   z-index: -1;
//   transform: rotate(-2deg);
// }

.hero a {
  width: max-content;
  padding: 1.2rem;
  
  border: 1px solid $subTextColor;
  border-radius: 5px;
}

.hero a span {
  color: $subTextColor;
}

@media only screen and (min-width: $mobile-max) and (max-width: $desktop-min) {
  .hero h1, .hero p, .hero a {
    margin: 1rem clamp(4rem, 12vw, 8rem)
  }
  
  .bigHeroText {
    font-size: clamp(3rem, 8vw, 5rem);
  }
  
  .subText {
    font-size: clamp(2rem, 5.3vw, 3.3rem);
    color: $mainTextColor;
  }
  
  .hero p {
    font-size: clamp(1.2rem, 2.8vw, 1.7rem);
    line-height: 2.5rem;
  }
}

@media only screen and (min-width: $desktop-min) {
  .hero h1, .hero p, .hero a {
    margin: 1rem clamp(4rem, 12vw, 8rem)
  }
  
  .bigHeroText {
    font-size: clamp(3rem, 8vw, 5rem);
  }
  
  .subText {
    font-size: clamp(2rem, 5.3vw, 3.3rem);
    color: $mainTextColor;
  }
  
  .hero p {
    font-size: clamp(1.2rem, 2.8vw, 1.7rem);
    line-height: 2.5rem;
  }
}

// @media only screen and (min-width: 481px) {
//   .hero {
//     font-size: 14px;
//     margin: auto;
//     // width: 100vh;
//     // width: 90%;
//     min-height: 100vh;
//     height: 100vh;
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     // align-items: flex-start;
//   }

//   .smallHeroText {
//     font-size: clamp(10px, 8vw, 15px);
//     // color: #5e548e;
//     margin: 0;
//     padding: 0;
//   }

//   .sameLineText {
//     // padding: auto;
//     gap: 20px;
//     display: flex;
//     align-items: baseline;
//   }

//   .bigHeroText {
//     font-size: clamp(40px, 8vw, 80px);
//     margin: 0;
//     padding: 0;
//   }

//   .subText {
//     font-size: clamp(30px, 6vw, 60px);
//     margin: 0;
//     padding: 0;
//   }
// }