@import 'src/styles/colors.scss';
@import 'src/styles/layout.scss';

@keyframes animate-fade {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin-top: 2.5rem;
  width: 100vw;
  min-height: 100vh;

  word-wrap: break-word;

  color: $mainTextColorWhite;
  background-color: $darkSkyBlue;
  background-image: linear-gradient(to bottom, $darkSkyBlue, $darkSkyPurple, $baseGold);

  font-size: clamp(16px,2vw,20px);
}

.hero h1, .hero p, .hero button {
  margin: 0 2rem;
}

.hero h1 {
  margin-bottom: 2rem;
}

.hero p {
  margin-bottom: 2.8rem;

  font-size: 1.2rem;
  line-height: 2rem;

  animation-duration: 0.6s;
  animation-name: animate-fade;
  animation-delay: 0.6s;
  animation-fill-mode: backwards;
}

.smallHeroText {
  // font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1.1rem;
  // color: $subTextColor;
  color: $neutralGray;
}

.bigHeroText {
  font-size: 2.5rem;

  animation-duration: 0.2s;
  animation-name: animate-fade;
  animation-delay: 0.2s;
  animation-fill-mode: backwards;
}

.subText {
  font-size: 1.5rem;
  // color: $mainTextColor;
  color: $subGold;

  animation-duration: 0.4s;
  animation-name: animate-fade;
  animation-delay: 0.4s;
  animation-fill-mode: backwards;
}

// .emphasize {
//   border-radius: 1em 0 1em 0;
//   background-image: linear-gradient(
//     -100deg,
//     $gradient-green-mid,
//     $gradient-green-start,
//     $gradient-green-end
//   );
// }

// .emphasize::before {
//   background-color: $buttonActiveColor;

//   content: "";
//   position: absolute;
//   width: calc(100% + 4px);
//   height: 60%;
//   left: -2px;
//   bottom: 0;
//   z-index: -1;
//   transform: rotate(-2deg);
// }

.hero button {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 1rem;
  gap: 0.5rem;

  border: 1px solid $mainTextColorWhite;
  border-radius: 40px;
  box-shadow: 7px 7px 0 0 $cloudPurple;

  font-size: 0.9rem;
  width: 12rem;
  
  cursor: pointer;
  transition: 0.3s;
}

.hero button:hover {
  color: $mainTextColorBlack;
  border-color: $mainTextColorWhite;
  background-color: $mainTextColorWhite;
  box-shadow: 3px 3px 0 0 $cloudPurple;
}

.hero img {
  width: 1.5rem;

  filter: invert(15%) sepia(16%) saturate(847%) hue-rotate(208deg) brightness(95%) contrast(92%);
}

.hero button:hover img {
  filter: invert(15%) sepia(15%) saturate(997%) hue-rotate(208deg) brightness(91%) contrast(90%);
}

@media only screen and (min-width: $mobile-max) {
  .hero h1, .hero p, .hero button {
    margin: 1rem clamp(4rem, 12vw, 8rem)
  }
  
  .bigHeroText {
    font-size: clamp(3rem, 8vw, 4.5rem);
  }
  
  .subText {
    font-size: clamp(2rem, 5.3vw, 3.3rem);
    font-size: 2.5rem;
    color: $mainTextColor;
  }
  
  .hero p {
    font-size: clamp(1.2rem, 2.8vw, 1.7rem);
    line-height: 2.5rem;
  }

  .hero button {
    gap: 0.75rem;
    width: 15rem;

    font-size: 1rem;
  }
}

@media only screen and (min-width: $desktop-min) {
  .hero-p {
    width: clamp(45rem, 70vw, 70rem);
  }
}