@import 'src/styles/colors.scss';
@import 'src/styles/layout.scss';

.experienceSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 4rem 0 6rem;
  gap: 1rem;

  background-color: $darkSkyPurple;
  // color: $mainHeaderColor;

  clip-path: polygon(
    0 0,
    100% calc(0% + 2rem), 
    100% calc(100% - 2rem),
    0 100%
  );
  -webkit-clip-path: polygon(
    0 0,
    100% calc(0% + 2rem), 
    100% calc(100% - 2rem),
    0 100%
  );

  background-image: linear-gradient(to bottom, $cloudPurple, 10%, $darkSkyPurple);

  margin-bottom: -2rem;
}

.experienceSection h2 {
  // align-self: flex-start;
  margin-bottom: 0;
  // margin-left: 4rem;
  // padding-right: 4rem;
  padding-bottom: 14px;

  border-bottom: 2px solid transparent;
  border-image: linear-gradient(0.25turn, $cloudPurple, $neutralGray, $cloudPurple);
  border-image-slice: 1;
}

.leftArrow, .rightArrow {
  width: 0;
  height: 0;
  display: hidden;
}

.experiencesOuter {
  overflow: hidden;

  // overflow-x: scroll;
  // scroll-snap-type: x mandatory;
  // scroll-behavior: smooth;


  // /* Hides scrollbar */
  // &::-webkit-scrollbar:horizontal {
  //   height: 0;
  //   width: 0;
  //   display: none;
  // }
  // // &::-webkit-scrollbar-thumb:horizontal {
  // //   display: none;
  // // }
  // // scrollbar-width: 400px;
  // // width: 100%;
}

.experiencesInner {
  white-space: nowrap;
  transition: transform 0.9s;



}

/* Experience item */
.experienceContainer {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  
  width: 100%;
  height: 32rem;
  
  color: $mainTextColorWhite;

  scroll-snap-align: center;
}

.experience {
  white-space: normal;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: clamp(17rem, 75vw, 23rem);
  // height: 32rem;
  margin: 2rem 0;
  padding: 0.3rem 1.5rem 2rem;
  gap: 1.2rem;

  color: $mainTextColorWhite;
  background-color: $darkSkyBlue;
  border-radius: 8px;
  box-shadow: $neutralGray 0px 2px 2px -3px, $neutralGray 0px 8px 20px -8px, $neutralGray 0px 0px;
  transition: 0.3s;
}
.experience:hover {
  box-shadow: $baseGold 0px 50px 100px -20px, $baseGold 0px 30px 60px -30px, $baseGold 0px -2px 6px 0px inset;
}

/* Individual pieces of an experience */
.experience .titleAndLinks {
  display: flex;
  justify-content: space-between;
  align-self: flex-start;

  width: 100%;
}
.experience a h3 {
  font-weight: 600;
}
.experience a h3:hover {
  filter: brightness(0) saturate(100%) invert(94%) sepia(10%) saturate(1967%) hue-rotate(328deg) brightness(99%) contrast(111%);
}
.experience .links {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-self: center;

  gap: 0.5rem;
}

.links a img {
  width: 1.5rem;
}

.links a img:hover {
  filter: brightness(0) saturate(100%) invert(94%) sepia(10%) saturate(1967%) hue-rotate(328deg) brightness(99%) contrast(111%);
}

.experience .experienceImage {
  display: block;

  width: 100%;
  height: 12rem;
  
  object-fit: cover;
  max-width: 100%;
}

.experience p {
  font-weight: 300;
  // height: 7rem;
  // height: clamp(5rem, 7rem)
  // height: 10vh;
  // height: 5vh;
}

.experience .technologies {
  display: flex;
  flex-direction: row;
  align-items: center;

  gap: 0.5rem;

  font-size: 0.8rem;
}

.experience .technology {
  padding: 0.3rem 0.5rem;

  background-color: $mainTextColorWhite;
  color: $mainTextColorBlack;
  // font-family: 'Roboto', serif;
  border-radius: 20px;
  text-align: center;

  opacity: 0.95;
}

.experience .technology:hover {
  // background-color: $mainGold;
  color: $mainTextColorWhite;
  background: linear-gradient(217deg, $pink, rgba(255,0,0,0) 70.71%), linear-gradient(127deg, $green, rgba(0,255,0,0) 70.71%), linear-gradient(336deg, $purple, rgba(0,0,255,0) 70.71%);
}

.cardNavigation {
  display: flex;
  align-items: center;
  // margin-top: 1rem;

  gap: 4rem;
}

.cardNavigation .leftArrow, .rightArrow {
  width: 2rem;
  height: 2rem;
  display: block;

  cursor: pointer;
}

.cardNavigation .leftArrow:hover, .rightArrow:hover {
  filter: brightness(0) saturate(100%) invert(94%) sepia(10%) saturate(1967%) hue-rotate(328deg) brightness(99%) contrast(111%);
}

.cardNavigation .rightArrow {
  transform: rotate(180deg);
}

.cardNavigation .dots {
  display: flex;
  min-height: 1.5rem;
  
  gap: 1.5rem;
}

.cardNavigation .dots .dot:hover {
  background-color: $mainGold;
}

.cardNavigation .dots .dot {
  margin: 0;
  padding: 0;

  width: 1rem;
  height: 1rem;
  // background-color: $mainBodyBackground;
  // border: 1px solid $mainHeaderColor;
  background-color: $cloudPurple;
  border: 2px solid $mainTextColorBlack;
  border-radius: 50%;
  transition: 0.3s;

  opacity: 0.8;

  cursor: pointer;
}

.cardNavigation .dots .dot.activeDot {
  background-color: $mainTextColorWhite;
  opacity: 1;
}


// @media only screen and (min-width: $mobile-max) {
//   .experiences {
//     display: flex;
//     // flex-direction: column;
//   }
// }

@media only screen and (min-width: $desktop-min) {
  // .carouselContent {
  //   display: flex;
  //   align-items: center;
  
  //   gap: clamp(2rem, 5vw, 4rem)
  // }

  // .experiences {
    // // display: grid;
    // // grid-template-columns: max-content max-content;

    // // column-gap: 4.5rem;
    // display: flex;
    // align-items: center;
    // gap: 3rem;

    // overflow: hidden;
  // }

  // .experience {
  //   display: inline-flex;

  // }

  // .dots {
  //   display: none;
  // }

  // .leftArrow, .rightArrow {
  //   width: 2rem;
  //   height: 2rem;
  //   display: block;
  // }



  .experience {
    min-width: 20rem;
  }
}
