// Main application colors
// $bodyBackground: #FCF4EF;
$bodyBackground: #FFEBEB;
$darkGrayBackground: #4C5464;

$mainTextColorBlack: #000;
$mainTextColorWhite: #fff;
$highlightTextColorPink: #FF7062;

$buttonBorderLightBrown: #B99E9B;
$buttonBackgroundDarkBrown: #544847;
// $buttonBorderLightBrown: #b99e9b74;