// Main application colors
$mainHeaderColor: #ffffff;
$mainTextColor: #c5cfe7;
$mainTextColorBlack: #130b0e;

$subTextColor: #bd73f7;

$bodyBackground: #24293b;
$cardBackground: #4f518c;

$buttonActiveColor: #7418ea;
$buttonBorderColor: #a9a3d8;
// $buttonBorderColor: rgb(243, 169, 230);

$footerBackground: #131011;


// Old colors
// // $bodyBackground: #FCF4EF;
// $bodyBackground: #FFEBEB;
// $darkGrayBackground: #4C5464;

// $mainTextColorBlack: #000;
// $mainTextColorWhite: #fff;
// $highlightTextColorPink: #FF7062;

// $buttonBorderLightBrown: #B99E9B;
// $buttonBackgroundDarkBrown: #544847;
// $buttonBackgroundHoverLightPink: #fb9990;
// // $buttonBorderLightBrown: #b99e9b74;

// // $bodyBackground: #1d1128;
// $lightBodyBackground: #2c2a4a;
// $darkGrayBackground: #514F59;

// $mainTextColorGrey: #cac4ce;
// $mainTextColorBlack: #000;
// $mainTextColorWhite: #eff0fb;
// $mainTextColorGreen: #6DC286;
// $highlightTextColorPurple: #6d72c3;
// $highlightTextColorPink: #FF7062;

// $buttonBorderLightBrown: #e5d4ed;
// $buttonBackgroundDarkBrown: #5941a9;
// $buttonBackgroundHoverLightPink: #a9a3d8;


