// Main application colors
$mainHeaderColor: #ffffff;
$mainTextColor: #c5cfe7;
$mainTextColorBlack: #130b0e;

$subTextColor: #bd73f7;

$mainBodyBackground: #24293b;
$mainBodyBackgroundBlack: #131011;

$cardBackground: #4f518c;

$buttonActiveColor: hsl(274, 89%, 35%);
$buttonBorderColor: hsl(274, 50%, 70%);

$gradient-green-start: rgba(0, 255, 21, 0.487) 95%;
$gradient-green-mid: rgba(0, 255, 20, 0.2);
$gradient-green-end: rgba(0, 255, 21, 0.056);

$gradient-purple-start: rgba(116, 24, 234, 0.487);
$gradient-purple-mid: rgba(116, 24, 234, 0.2);
$gradient-purple-end: rgba(116, 24, 234, 0.056);

$green-light: rgba(0, 255, 21);
$green-mid: rgb(43, 148, 52);
$green-dark: rgb(10, 49, 13);

$footerBackground: #232029;

// New colors
$mainTextColorWhite: #ffffff;
$mainTextColorBlack: rgb(35, 39, 42);

$backgroundColorPureWhite: #ffffff;
$backgroundColorSmokeWhite: #f6f6f6;
$backgroundColorGhostWhite: #c5cfe7;
$backgroundContrastColor: rgb(218, 231, 245);

$highlightColorPurple: #5865f2;

$mainButtonColorPurple: rgb(81, 102, 238);
$mainButtonHoverColorPurple: rgb(117, 132, 241);

$heroBackgroundColorBlue: rgb(31, 154, 238);
$heroBackgroundColorPurple: #5865F2;
$heroBackgroundColorDarkPurple: rgb(54, 79, 232);
$heroBackgroundColorLightPurple: rgb(81, 102, 238);

$cardBackgroundColorBlack: rgb(41, 40, 64);
$cardBackgroundColorDarkBlack: rgb(28, 27, 41);

$footerBackground: #232029;


$pastelPurple: #C5ADC5;
$lightSteelBlue: #B2B5E0;


// v2 palette
$mainTextColorWhite: rgb(245, 253, 255);
$mainTextColorBlack: rgb(45, 43, 59);

$neutralGray: rgb(192, 186, 179);

$darkSkyPurple: rgb(41, 27, 55);
$cloudPurple: rgb(82, 86, 125);
$basePurple: rgb(175, 182, 226);
$baseBlue: rgb(151, 178, 225);

$mainGold: rgb(255, 224, 140);
$subGold: rgb(202, 170, 118);
$baseGold: rgb(255, 184, 131);

$pink: rgb(221, 150, 154);
$green: rgb(147, 171, 127);
$purple: rgb(143, 99, 142);

$gradient-green-start: rgba(147, 171, 127, 0.487) 95%;
$gradient-green-mid: rgba(147, 171, 127, 0.2);
$gradient-green-end: rgba(147, 171, 127, 0.056);