@import 'src/styles/colors.scss';
@import 'src/styles/layout.scss';

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  min-height: 100vh;
  padding: 2rem 4rem 3rem;

  background-color: $mainBodyBackgroundBlack;
  box-shadow: 0 0 1rem 0 $mainTextColorBlack;
}

.description ul {
  display: flex;
  flex-direction: column;

  margin-top: 2rem;
  padding: 0 0.5rem;
  gap: 1.5rem;
}

.description ul li {
  padding: 2rem;

  border: 1px solid $mainTextColor;
  border-radius: 8px;
  list-style-type: none;
}

.description ul li:hover {
  background-image: linear-gradient(to right, $gradient-purple-start, $gradient-purple-mid, $gradient-purple-end);
}

li a.blurbLink {
  font-weight: 500;
  text-underline-offset: 4px;

  color: $subTextColor;
  font-weight: 600;
}

li a.blurbLink:hover {
  text-decoration: line-through;
}

@media only screen and (min-width: $tablet-mid) {
  .about {
    // padding: 10rem;
    padding: 2rem 10rem 4rem;
  }

  .description ul {
    display: grid;
    grid-template-columns: 1fr 1fr;

    // padding: 0 4rem;
  }
}

// @media only screen and (min-width: $desktop-small) {
//   .about {
//     font-size: 1.2rem;
//   }
  
//   .description ul {
//     display: grid;
//     grid-template-columns: 1fr 1fr 1fr 1fr;
//   }
// }