@import 'src/styles/colors.scss';
@import 'src/styles/layout.scss';

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  // align-items: center;

  min-height: 100vh;
  padding: 2rem 2.5rem 0;

  // background-color: $darkSkyPurple;

  // box-shadow: 0 0 1rem 0 $mainTextColorBlack;
}

.about h2 {
  padding-bottom: 14px;

  border-bottom: 2px solid transparent;
  border-image: linear-gradient(0.25turn, $mainTextColorWhite, $skyPurple, $mainGold, $cloudPurple, $darkSkyPurple);
  border-image-slice: 1;
}

.description .summary {
  margin-bottom: 6rem;
}

.description ul {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 2rem;
  gap: 1.5rem;
}

.description ul li {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 1.5rem 1.5rem 1.5rem;
  // padding: -3rem 1.5rem 1.5rem 1.5rem;
  margin-bottom: 5rem;
  width: clamp(13rem, 60vw, 18rem);
  // width: 60vw;

  border: 2px solid $mainTextColor;
  border-radius: 40px;
  list-style-type: none;
}
.description ul li:hover {
  // background-image: linear-gradient(to right, $gradient-purple-start, $gradient-purple-mid, $gradient-purple-end);
  // background-image: linear-gradient(to right, $gradient-green-start, $gradient-green-mid, $gradient-green-end);

  background: linear-gradient(217deg, $pink, rgba(255,0,0,0) 70.71%), linear-gradient(127deg, $green, rgba(0,255,0,0) 70.71%), linear-gradient(336deg, $purple, rgba(0,0,255,0) 70.71%);
}

.description ul li img {
  margin-top: -5rem;
  // margin-bottom: 0.5rem;
  padding: 1.5rem;
  width: 3rem;
  height: 3rem;

  border-radius: 50px;
  // background-color: $pink;
}
.description ul :first-child img {
  background-color: $purple;
}
.description ul :nth-child(2) img {
  background-color: $green;
}
.description ul :nth-child(3) img {
  background-color: $pink;
}
.description ul :nth-child(4) img {
  background-color: $subGold;
}

li a.blurbLink {
  font-weight: 500;
  text-underline-offset: 4px;

  // color: $subTextColor;
  font-weight: 600;
}

li a.blurbLink:hover {
  text-decoration: line-through;
}

@media only screen and (min-width: $tablet-small) {
  .about {
    // padding: 10rem;
    padding: 2rem 7rem 4rem;
    // max-width: 80vw;
    // width: 80%;
  }

  .description ul li {
    display: flex;
    flex-direction: row;

    padding: 1.5rem 1.5rem 1.5rem 0.5rem;
    gap: 1rem;
    height: 15rem;
  }

  .description ul li img {
    margin-top: -16rem;
    margin-left: -4rem;
    // margin-top: 0.5rem;
  }

  li p {
    // padding-left: -10rem;
    // padding: 10rem;
    margin: 0;
  }
}

@media only screen and (min-width: $desktop-min) {
  .description ul {
    display: grid;
    grid-template-columns: max-content max-content;
    justify-content: center;
    
    column-gap: 5rem;
  }

  .description ul li {
    // width: clamp(15rem, 25vw, 18rem);
    // width: 25vw;
    // width: 18rem;
    // width: 15rem;
  }
}

@media only screen and (min-width: $desktop-small) {
  .description ul {
    column-gap: clamp(5rem, 12vw, 14rem);
  }

  .description ul li {
    width: clamp(20rem, 20vw, 25rem);
  }
}