li {
  text-align: center;
}

.header {
  font-size: clamp(16px, 6vw, 22px);
}

p {
  font-size: clamp(12px, 4vh, 15px);
}

.techSection {

}

.filterTitle {
  font-size: 1.3vw;
  margin-right: 2vw;
}

.filterButtons {
  display: flex;
  align-items: center;
  // justify-content: center;
  gap: 0.5vw;
  // box-sizing: content-box;
}

.techList {
  display: grid;
  grid-template-columns: repeat(5, fit-content(8vh));
  justify-content: center;
}

.techTitle {
  color: #4f518c;
}

.techTitle:hover {
  color: #907ad6;
}