li {
  // margin: 8px;
  // padding: 13px;
  text-align: center;
  // white-space: nowrap;
}

.header {
  font-size: clamp(16px, 6vw, 22px);
}

p {
  font-size: clamp(12px, 4vh, 15px);
}

.techList {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}