@import 'src/styles/colors.scss';
@import 'src/styles/layout.scss';

.techSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  // margin: 3rem 0;
  padding: 2rem 0 4rem;

  // min-height: 100vh;

  background-color: $basePurple;
  // color: $mainHeaderColor;
  // background: $mainBodyBackgroundBlack;
  // box-shadow: 0 0 1rem 0 $mainTextColorBlack;
}

.techSection h2 {
  padding-bottom: 14px;

  border-bottom: 2px solid transparent;
  border-image: linear-gradient(0.25turn, $basePurple, $darkSkyPurple, $mainGold, $basePurple);
  border-image-slice: 1;
}

.buttonsAndTechList {
  display: flex;
  flex-direction: column;
  align-items: center;
  // gap: 1rem;
}

.filterButtonsWrapper {
  // display: grid;
  // grid-template-columns: max-content max-content;

  display: flex;

  // margin: 1.3rem 1rem 1.3rem 0;
  gap: 0.8rem;
  padding: 8px;

  // border-bottom: 2px solid transparent;
  // border-image: linear-gradient(0.25turn, $heroBackgroundColorDarkPurple, $mainTextColorWhite);
  // border-image-slice: 1;
}

.filterButtonsWrapper button, .filterButtonsWrapper button.inactive {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 1rem;
  // width: 5rem;
  // height: 3rem;

  color: $mainTextColorBlack;
  background-color: $mainTextColorWhite;

  border: 1px solid $mainTextColorWhite;
  border-radius: 40px;
  box-shadow: 4px 4px 0 0 $cloudPurple;
  opacity: 0.6;

  font-weight: 700;

  cursor: pointer;
  transition: 0.3s;
}

.filterButtonsWrapper button.active {
  border: 1px solid $darkSkyBlue;

  color: $mainTextColorWhite;
  background-color: $darkSkyBlue;

  opacity: 1;
}

@media (hover: hover) {
  .filterButtonsWrapper button:hover, button:hover, button.active:hover {
    color: $mainTextColorBlack;
    background-color: $mainGold;
    border: 1px solid $mainGold;
    box-shadow: 2px 2px 10px 0 $cloudPurple;
  }
}

.techList {
  display: grid;
  // grid-template-columns: repeat(4, fit-content(80vw));
  grid-template-columns: repeat(3, 6.5rem);
  grid-template-rows: repeat(10, min-content);

  // justify-content: center;
  // align-items: center;
  margin: 1.3rem 0 0 0;
  row-gap: 0.8rem;

  padding: 1rem;
  height: 25rem;

  overflow-y: auto;

  border-radius: 5px;
  box-shadow: 4px 4px 10px 0 $mainTextColorBlack;

  background-color: $darkSkyBlue;
}

.techItem {
  display: flex;
  justify-content: center;
}

.logoAndName:hover {
  box-shadow: $mainGold 0px 50px 100px -20px, $mainGold 0px 30px 60px -30px, $mainGold 0px -2px 6px 0px inset;
}

.logoAndName {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 0.1rem;
  gap: 0.5rem;
  text-align: center;

  width: 5.5rem;
  height: 5.5rem;
  
  font-size: 0.8rem;
  background-color: $cloudPurple;
  // background-color: $cardBackground;
  // color: $mainTextColorBlack;
  // background-color: $heroBackgroundColorLightPurple;
  border-radius: 4px;
}

.techName {
  color: $mainTextColorWhite;
}

.logo {
  display: flex;
  justify-content: center;

  width: 2.5rem;
}

@media only screen and (min-width: $mobile-max) {
  .buttonsAndTechList {
    flex-direction: row;
    align-items: flex-start;

    gap: 0;
  }

  .filterButtonsWrapper {
    display: flex;
    flex-direction: column;
  
    margin: 1.3rem 1rem 1.3rem 0;
    gap: 0.8rem;
  }
}

@media only screen and (min-width: $tablet) {
  .techList {
    grid-template-columns: repeat(4, 6.5rem);
  }
}

@media only screen and (min-width: $desktop-small) {
  .techList {
    grid-template-columns: repeat(6, 6.5rem);
  }
}

@media only screen and (min-width: $desktop-large) {
  .techList {
    grid-template-columns: repeat(6, 10rem);

  }

  .logoAndName {
    gap: 0.5rem;
    text-align: center;
  
    width: 9rem;
    height: 9rem;
    font-size: 0.8rem;
    background-color: $cardBackground;
    border-radius: 4px;
  }

  .logo {
    width: 4rem;
  }

  .techName {
    font-size: 1.2rem;
  }
}