@import 'src/styles/colors.scss';
@import 'src/styles/layout.scss';

.contactMe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 4rem 3rem 4rem;

  // min-height: 100vh;
  color: $mainHeaderColor;
  background-color: $darkSkyBlue;

  // border-image: linear-gradient(0.25turn, $skyPurple, $darkSkyBlue, $mainGold, $skyPurple);
  // border-image-slice: 1;

  // background-image: radial-gradient( $skyPurple, 10%, $darkSkyBlue);

  // margin: 2rem;
}

.contactBlurb {
  margin-bottom: 1.5rem;

  text-align: center;
}

@media only screen and (min-width: $mobile-max) {
  .contactMe {
    min-height: 20rem;
  }

  .contactBlurb {
    margin: inherit clamp(2rem, 3vw, 4rem);
    font-size: 1.2rem;
  }
}