.contact {
  // margin: auto;
  // min-height: 100vh;
  // height: 100vh;
  // width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  font-size: clamp(20px, 6vw, 30px);
  margin: 13px;
  padding: 0;
}

.contactInfo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  // justify-content: center;
  // align-items: center;
}

.socials, .email {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.email {
  gap: 8vh;
}

a.email-link {
  color: red;
}