@import 'src/styles/colors.scss';
@import 'src/styles/layout.scss';

.navBar {
  // display: none;
  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100vw;
  height: 2.5rem;

  padding: 1.25rem 0;

  opacity: 1;
  transition: opacity 0.2s ease-in-out;
  font-weight: 400;
  color: $mainTextColorWhite;
  background-color: $darkSkyBlue;
  box-shadow: 0 0 4px 0 $mainTextColorBlack;

  
  // background-image: linear-gradient(to bottom right, $mainBodyBackgroundBlack, $heroBackgroundColorLightPurple);

  font-size: 0.8rem;
}

.number {
  display: none;
}

.homeIcon {
  display: none;
}

.navBar.isScrolled {
  opacity: 0;
  display: hidden;
}


.navBar ol {
  display: flex;
  justify-content: center;
  align-items: center;
  
  margin: 0;
  padding: 0;
  gap: clamp(0.5rem, 5.5vw, 2rem);

  list-style-type: none;
}

.navBar a img:hover, .navBar ol li:hover {
  // filter: brightness(0) saturate(100%) invert(80%) sepia(18%) saturate(1385%) hue-rotate(323deg) brightness(102%) contrast(105%);
  filter: brightness(0) saturate(100%) invert(19%) sepia(94%) saturate(7191%) hue-rotate(324deg) brightness(101%) contrast(99%);
}
.navBar ol li:hover {
  text-decoration: underline $textVibrantPink;
  text-underline-offset: 8px;
}

@media only screen and (min-width: $mobile-max) {
  .navBar ol {
    list-style-type: decimal;
  }

  .navBar ol li {
    font-size: 0.9rem;
  }
  .navBar ol li::marker {
    color: $mainGold;
    // color: $textVibrantPurple;
  }

  .homeText {
    display: none;
  }
}

@media only screen and (min-width: $mobile-max) {
  .navBar {
    display: grid;
    grid-template-columns: min-content 1fr;
  
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 2.5rem;

    padding: 1.25rem 0;

    opacity: 1;
    transition: opacity 0.2s ease-in-out;
    font-weight: 400;
    color: $mainTextColorWhite;
    box-shadow: 0 0 4px 0 $mainTextColorBlack;
  }
  
  .navBar a {
    grid-column: 1/2;
    display: flex;
    align-items: center;

    padding: 0;
    margin: 0;

    // gap: 0.3rem;
  }

  .navBar img {
    width: 1.5rem;
    filter: invert(100%) sepia(41%) saturate(3423%) hue-rotate(178deg) brightness(108%) contrast(106%);
  }

  .navBar ol {
    grid-column: 2/2;

    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: clamp(3rem, 6vw, 4rem)
  }

  .navBar a.homeIcon {
    margin-left: clamp(1rem, 4vw, 2.5rem);
  }

  .navBar ol.rightNav {
    margin-right: clamp(1rem, 4vw, 2.5rem);
  }
}

@media only screen and (min-width: $desktop-min) {
  .navBar img {
    width: 2rem;
  }
  
  .navBar ol {
    gap: clamp(3rem, 8vw, 4rem)
  }

  .navBar ol li {
    font-size: 1rem;
  }
}