@import 'src/styles/colors.scss';

.navBar {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 18vw;

  font-weight: 400;
  color: $mainTextColorWhite;
  background-color: $highlightTextColorPink;
  box-shadow: 0 0 8px 0 $highlightTextColorPink
}

.navBar ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4vw;

  list-style-type: none;

  // padding: 2vw;


}

@media only screen and (min-width: 481px) {
  ul {
    list-style-type: none;
    display: flex;
    padding: 2vh;
  }
  
  li {
    // text-decoration: none;
    padding: 2vh;
  }
  
  a {
    text-decoration: none;
  }
  
  .navBar {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
  }
}