@import 'src/styles/colors.scss';
@import 'src/styles/layout.scss';

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  // gap: 1rem;
  padding: 3rem 0 5rem;

  // background-color: $darkSkyBlue;
  background-color: $darkCardBackground;
  // background: linear-gradient(217deg, $pink, rgba(255,0,0,0) 70.71%), linear-gradient(127deg, $green, rgba(0,255,0,0) 70.71%), linear-gradient(336deg, $purple, rgba(0,0,255,0) 70.71%);
}

.footer h3 {
  text-align: center;

  color: $mainTextColorWhite;
  font-size: 1.4rem;
  font-weight: 700;
}

.footer h4 {
  margin: 0.5rem;
  padding: 0;

  text-align: center
}

.links {
  display: flex;
  flex-direction: column;

  gap: 1rem;
}

.jumpToLinks li img{
  display: none;
}

.jumpToLinks h3 {
  font-size: 0.8rem;
}

.jumpToLinks {
  display: flex;
  flex-direction: row;
  justify-content: center;

  gap: 0.8rem;

  font-size: 0.8rem;
}

.contactLinks {
  display: flex;
  flex-direction: row;
  justify-content: center;

  gap: 1.5rem;
}

.contactLinks li a div {
  display: none;
}

.contactLinks li img {
  width: 3rem;

  filter: invert(15%) sepia(16%) saturate(847%) hue-rotate(208deg) brightness(95%) contrast(92%);
}

.footerText {
  display: flex;
  flex-direction: column;

  gap: 1.5rem;
  margin-top: 3rem;
  padding-top: 1.5rem;
  width: 80%;

  border-top: 1px solid $mainTextColorWhite;
  text-align: center;
  // font-family: 'Roboto', serif;
  font-size: 0.8rem;
}

@media only screen and (min-width: $mobile-max) {
  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 3rem;
  }

  .footer .links {
    display: flex;
    flex-direction: row;

    gap: 5rem;
  }

  .footer h3, .footer h4 {
    display: flex;
    justify-content: flex-start;

    margin: 1rem 0;
    padding: 0;

    font-size: 1rem;
    font-weight: 500;
    color: $mainTextColorWhite;
  }

  .contactLinks, .jumpToLinks {
    display: flex;
    flex-direction: column;

    gap: 0.5rem;

    font-size: 0.8rem;
  }

  .contactLinks li a, .jumpToLinks li a {
    display: flex;
    flex-direction: row;

    gap: 8px;
  }

  .contactLinks li a img, .jumpToLinks li a img{
    display: block;

    width: 1.2rem;

    filter: invert(15%) sepia(16%) saturate(847%) hue-rotate(208deg) brightness(95%) contrast(92%);
  }

  .contactLinks li a div {
    display: block;
  }

  .footerText {
    margin-top: 0;
    padding-top: 1.5rem;
  }
}

