@import 'src/styles/colors.scss';
@import 'src/styles/layout.scss';

.emailForm {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 1rem clamp(5rem, 10vw, 10rem) 1.25rem;
  gap: 1.5rem;

  color: $mainHeaderColor;
  font-size: 0.8rem;
  border-radius: 8px;
}

.emailForm div {
  display: flex;
  flex-direction: column;
}

.emailForm label {
  padding: 2px;

  // font-family: 'Roboto', serif;
}

.emailForm input, .emailForm textarea {
  width: 15rem;

  border: 3px solid $mainTextColorBlack;
  border-radius: 0;
  font-family: inherit;
  background-color: $mainHeaderColor;
}

.emailForm input:hover, .emailForm textarea:hover {
  border: 3px solid $baseGold;
}

.emailForm textarea {
  min-height: 7rem;
  resize: vertical;
}

.emailForm input {
  height: 2rem;
}

.emailForm button {
  cursor: pointer;

  // margin: 1rem;
  padding: 1rem;
  // width: 10rem;

  border: 1px solid $mainTextColorWhite;
  border-radius: 40px;

  font-weight: 600;

  color: $mainTextColorBlack;
  background-color: $mainTextColorWhite;

  box-shadow: 5px 5px 0 0 $cloudPurple;
  transition: 0.3s;
}
.emailForm button:hover {
  background-color: $mainTextColorWhite;
  border: 1px solid $mainTextColorWhite;
  box-shadow: 1px 1px 0 0 $cloudPurple;
}

.emailSent {
  padding: 0.6rem;
  
  font-size: 1rem;
  font-weight: 600;
  color: $mainGold;
}

@media only screen and (min-width: $mobile-max) and (max-width: $desktop-min) {
  .emailForm input, .emailForm textarea {
    width: clamp(20rem, 50vw, 40rem);
  }
}

@media only screen and (min-width: $desktop-min) and (max-width: $desktop-large) {
  .emailForm label {
    font-size: 14px;
  }

  .emailForm input, .emailForm textarea {
    width: clamp(20rem, 60vw, 40rem);
  }
}

@media only screen and (min-width: $desktop-large) {
  .emailForm label {
    font-size: 20px;
  }

  .emailForm input, .emailForm textarea {
    width: clamp(40rem, 60vw, 70rem);
  }
}