@import 'src/styles/colors.scss';
@import 'src/styles/layout.scss';

.emailForm {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 2rem;
  gap: 1.5rem;

  background-color: $cardBackground;
  color: $mainHeaderColor;
  font-size: 0.8rem;
  border-radius: 8px;
}

.emailForm div {
  display: flex;
  flex-direction: column;
}

.emailForm label {
  padding: 2px;

  font-family: 'Olware';
}

.emailForm input, .emailForm textarea {
  width: 15rem;

  border-radius: 5px;
  font-family: inherit;
}
.emailForm textarea {
  min-height: 50vh;
  resize: vertical;
}

.emailForm input {
  height: 2rem;
}

.emailForm textarea {
  min-height: 5rem;
}

.emailSent {
  padding: 0.6rem;
  
  font-size: 0.9rem;
}

@media only screen and (min-width: $mobile-max) and (max-width: $desktop-min) {
  .emailForm input, .emailForm textarea {
    width: clamp(20rem, 60vw, 40rem);
    // width: 40rem;
    // width: 70vw;
    // max-width: 20rem;
  }
}

@media only screen and (min-width: $desktop-min) and (max-width: $desktop-large) {
  .emailForm label {
    font-size: 14px;
  }

  .emailForm input, .emailForm textarea {
    width: clamp(20rem, 60vw, 40rem);
  }
}

@media only screen and (min-width: $desktop-large) {
  .emailForm label {
    font-size: 20px;
  }

  .emailForm input, .emailForm textarea {
    width: clamp(40rem, 60vw, 70rem);
  }
}